@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1313 Matriarchy Creek<br />
    Niagra Falls, NY 14301<br />
    <abbr title="Phone">P:</abbr>
    716.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@Matriarchy.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@Matriarchy.com">Marketing@example.com</a>
</address>
